			.left_navigation{
				width:200px ;
				height: 500px;
				margin:auto;
				/*background-color: rgb(229,6,247);*/
				background:white;
				position: fixed;
				border: 2px solid black;
				border-top: 2px solid red;
				padding-left: 30px;

			}